/* div {
  border: 1px solid #aaa;
} */
.sigin_main_container {
    margin-bottom: 10%;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .para_sign {
    font-size: 18px;
    margin: auto;
    text-align: left;
    padding: 10px 0;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    width: 83%;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .sigin_outter_box {
    width: 84%;
    margin: auto;
    display: flex;
  }
  .sigin_outter_box > div {
    flex-basis: 45%;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 5%;
    border: 1px solid #eeeeee;
    padding: 30px;
  }
  .sigin_outter_box > div:nth-child(1) {
    margin-left: 0.4%;
    margin-right: 2.5%;
  }
  .sigin_outter_box > div:nth-child(2) {
    border: 1px solid #eeeeee;
    height: 385px;
  }
  .legend > h1 {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    padding: 7px 0;
    padding-top: 1px;
  }
  .legend > hr {
    width: 99%;
    color: #aaa;
    background-color: #aaa;
    border: 0.1px solid #eeeeee;
    margin: auto;
    margin-bottom: 8%;
  }
  .sigin_text_block {
    color: #616161;
    font-size: 14px;
    margin-bottom: 4%;
  }
  
  .validate > h1 {
    font-size: 17px;
    padding: 7px 0;
    font-weight: 500;
    color: #666666;
  }
  .validate > h1 > span {
    color: red;
  }
  .validate > input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #aaa;
    margin-bottom: 2%;
  }
  .validate > input:focus {
    outline: none;
  }
  .validate > button {
    padding: 8px 15px;
    margin-top: 15px;
    color: #f5f5f5;
    background-color: #232323;
    border-radius: 2px;
    outline: none;
  }
  .validate > button:hover {
    background-color: #dd0285;
    border: 1px solid #dd0285;
  }
  
  .validate > button > a {
    color: white;
  }